<head>
<title>
    TinyApp!
</title>

 <style>
form {
    display: inline;
}
</style>

</head>

<% if(!user) {%>
<h1>
	Welcome to TinyApp!	
</h1>

<form method="GET" action="/login">
	<button type="submit">Login</button>
</form>
<form method="GET" action="/register">
	<button type="submit">Register</button>
</form>
</br>
</br>
</br>


<% } else {%>
<h1>
	Welcome back to TinyApp <%= user.id %>!	
</h1>

<form method="POST" action="/logout">
	<h3><%= user %> <button type="submit">Logout</button></h3>
</form>

<% } %>





