<title>
    TinyApp!
</title>


<% if(!user) {%>
<h1>
	Welcome to TinyApp!	
</h1>

<form method="GET" action="/login">
	<h3><%= user %> <button type="submit">Login</button></h3>
</form>
<form method="GET" action="/register">
	<h3><%= user %> <button type="submit">Register</button></h3>
</form>


<% } else {%>
<h1>
	Welcome back to TinyApp <%= user %>!	
</h1>

<form method="POST" action="/logout">
	<h3><%= user %> <button type="submit">Logout</button></h3>
</form>

<% } %>





