<head>
<title>
    TinyApp!
</title>

 <style>

form {
    
    float: center;
}

.login{
	float: right;
	margin-top: -35px;
}


h1 {
    text-align: center;
    margin-top: 50px;
}

</style>

</head>

<% if(!user) {%>
<h1>
	TinyApp!	
</h1>

<form class="login" method="GET" action="/login">
	<button type="submit">Login</button>
</form>
<form class="login" method="GET" action="/register">
	<button type="submit">Register</button>
</form>
</br>
</br>
</br>


<% } else {%>
<h1>
	TinyApp!	
</h1>

<form class="login" method="POST" action="/logout">
	<h3><button type="submit">Logout</button></h3>
</form>
</br></br>
<% } %>





