<title>
    TinyApp!
</title>

<h1>
	Welcome to TinyApp!	
</h1>

<form method="POST" action="/login">
	<input id="username" type="text" name="username" placeholder="username" style="width: 300px">
	<button type="submit">Submit</button>
	<h2><%= username %></h2>
</form>