<html lang="en">
<head>
  <title>TinyApp</title>
 
</head>
<body>

<header>
<% include ./partials/_header %>
</header>


<% for(let key in urls){%>
	<form method="POST" action="/urls/<%= key %>/delete">
		<%= urls[key] %>
		<a href="/urls/<%= key %>"> <%= key %> </a>  
		<button type="submit">Delete</button>
	</form>
<% } %>

<h3><a href="/urls/new"> Make A New Short URL! </a></h3>


</body>
</html>