<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

<header>
<% include ./partials/_header %>
</header>


	<h2> ShortURL: <%= shortURL %> </h2>
	<form method="POST" action="/urls/<%= shortURL%>">
		<input id="currentURL" type="text" name="currentURL" placeholder="<%= fullURL%>" style="width: 300px">
		<button type="submit">Update</button>
	</form>



</body>
</html>