<html lang="en">
<head>
<style>

.loginform{
  float: center;
  text-align: center;
}
</style>
</head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form class="loginform" action="/login" method="POST">
      <label > Welcome Back! </br> Please enter your login information: </label></br></br>
      <label for="email">Email:</label></br>
      <input id="email" type="email" name="email" placeholder="email@example.com" style="width: 300px"></br></br>
      <label for="email">Password:</label></br>
      <input id="password" type="password" name="password" placeholder="password" style="width: 300px"></br></br>
      <input type="submit" value="Submit" style="width: 150px">
    </form>

<% if(loggedin === false){ %>
<script>
window.alert('Please login or register first!');
</script>
<%}%>



  </body>
</html>